<!DOCTYPE html>

<html>
{% load static %}
    <head>
        <title>Techieventures Learning Centre</title>
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>

    <body>
        <section class="my-0">
            <div class="d-flex justify-content-between t_padding t_top_header mb-3">
                <div class="p-2 ">Flex item 1</div>
                <div class="p-2 ">Flex item 3</div>
            </div>

            <div class="">
                <div class="d-flex justify-content-between t_padding  mb-0">
                    <div class="p-0 t_bold_tact ">
                        <nav class="navbar navbar-expand-sm  justify-content-end">
                            <a class="navbar-brand" href="#">Logo</a>
                        </nav>
                    </div>
                    <div class="p-0 ">
                        <nav class="navbar navbar-expand-sm  justify-content-end">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">HOME</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">ABOUT</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Projects</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#">Contacts</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section><br>
    <header>


        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="img/video.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex text-center h-100">
            <div class="my-auto w-100 text-white">
                <h1 class="display-3">Welcome To Techieventures Learning Centre</h1>
                <h2>Introduction About Techieventures (Training & Consulting)</h2>
            </div>
            </div>
        </div>
    </header>

    <section class="my-5">
        <div class="container">
            <div class="row">
            <div class="col-md-8 mx-auto">
                <h4>About us </h4>
                <hr>
                <p>Idea: bringing university research to the industry and the industry
                        experience into training and research.</p>
                <p>The overlay color can be changed by changing the <code>background-color</code> of the <code>.overlay</code> class in the CSS.</p>
                <p>Set the mobile fallback image in the CSS by changing the background image of the header element within the media query at the bottom of the CSS snippet.</p>
                <p class="mb-0">
                Created by <a href="https://startbootstrap.com">Start Bootstrap</a>
                </p>
            </div>
            </div>
        </div>
    </section>

    <section class="my-5 t_class bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 t_padding_top">
                    <button class="btn t_btn">Classroom InteractiveTraining</button>
                </div>
                <div class="col-sm-6 col-lg-3 t_padding_top">
                    <button class="btn t_btn">University/College Programs</button>
                </div>
                <div class="col-sm-6 col-lg-3 t_padding_top">
                    <button class="btn t_btn">Corporate Training</button>
                </div>
                <div class="col-sm-6 col-lg-3 t_padding_top">
                    <button class="btn t_btn">Live Online training</button>
                </div>
            </div>
            <p><br></p>
            <div class="row">
                <div class="col-sm-12 col-lg-12 t_center t_padding_top">
                    <button class="btn t_btn_exam ">Online Exam</button>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5">
        <div class="container">
            <div class="row">
            <div class="col-md-8 mx-auto">
                <h4>Techieventures Consulting & Development  </h4>
                <hr>
                <p>Idea: bringing university research to the industry and the industry
                        experience into training and research.</p>
                <p>The overlay color can be changed by changing the <code>background-color</code> of the <code>.overlay</code> class in the CSS.</p>
                <p>Set the mobile fallback image in the CSS by changing the background image of the header element within the media query at the bottom of the CSS snippet.</p>
                <p class="mb-0">
                Created by <a href="https://startbootstrap.com">Start Bootstrap</a>
                </p>
            </div>
            </div>
        </div>
    </section>

    <section class="my-0 t_techieventures">
        <div class="">
            <div class="row">
                <a href="#" class="col-sm-3 t_course_offer t_courses">
                    Courses Offered
                </a>
                <a href="#" class="col-sm-3 t_c_list">
                    List of Courses Offered
                </a>
                <a href="#" class="col-sm-3 t_s_video">
                    Our Training Reviews
                </a>
                <a href="#" class="col-sm-3 t_review">
                    Training Sample Video (4)
                </a>
            </div>
            <p><br></p>

        </div>
    </section>

    <section class="my-5">
            <div class="container">
                <div class="row">
                <div class="col-md-8 mx-auto">
                    <h4>Corporate Training  </h4>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                             <div class="list-group">
                                <a  class="list-group-item list-group-item-action">Company’s Profile </a>
                                <a  class="list-group-item list-group-item-action">Team & Advisors </a>
                                <a  class="list-group-item list-group-item-action">Course Content </a>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="list-group">
                                <a  class="list-group-item list-group-item-action">Flexibility in Delivering and Post Training Support. </a>
                                <a  class="list-group-item list-group-item-action">Our Success Story  </a>
                                <!-- <a  class="list-group-item list-group-item-action">Projects</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>

        <section class="my-5 t_class_profile bg-secondary">

	<div class="container">
            <div class="row">
                <!--team-1-->
                <div class="col-lg-4">
                    <div class="our-team-main">
                        <div class="team-front">
                        <img src="http://placehold.it/110x110/9c27b0/fff?text=Dilip" class="img-fluid" />
                        <h3>Dilip Kevat</h3>
                        <p>Web Designer</p>
                    </div>

                    <div class="team-back">
                        <span>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                        natoque penatibus et magnis dis parturient montes,
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                        natoque.
                        </span>
                    </div>
                </div>
            </div>
            <!--team-1-->

            <!--team-2-->
            <div class="col-lg-4">
            <div class="our-team-main">

            <div class="team-front">
            <img src="http://placehold.it/110x110/336699/fff?text=Dilip" class="img-fluid" />
            <h3>Dilip Kevat</h3>
            <p>Web Designer</p>
            </div>

            <div class="team-back">
            <span>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
            natoque penatibus et magnis dis parturient montes,
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
            natoque.
            </span>
            </div>

            </div>
            </div>
            <!--team-2-->

            <!--team-3-->
            <div class="col-lg-4">
            <div class="our-team-main">

            <div class="team-front">
            <img src="http://placehold.it/110x110/607d8b/fff?text=Dilip" class="img-fluid" />
            <h3>Dilip Kevat</h3>
            <p>Web Designer</p>
            </div>

            <div class="team-back">
            <span>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
            natoque penatibus et magnis dis parturient montes,
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
            natoque.
            </span>
            </div>

            </div>
            </div>
            <!--team-3-->

            <!--team-4-->
            <div class="col-lg-4">
            <div class="our-team-main">

            <div class="team-front">
            <img src="http://placehold.it/110x110/4caf50/fff?text=Dilip" class="img-fluid" />
            <h3>Dilip Kevat</h3>
            <p>Web Designer</p>
            </div>

            <div class="team-back">
            <span>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
            natoque penatibus et magnis dis parturient montes,
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
            natoque.
            </span>
            </div>

            </div>
            </div>
            <!--team-4-->

            <!--team-5-->
            <div class="col-lg-4">
            <div class="our-team-main">

            <div class="team-front">
            <img src="http://placehold.it/110x110/e91e63/fff?text=Dilip" class="img-fluid" />
            <h3>Dilip Kevat</h3>
            <p>Web Designer</p>
            </div>

            <div class="team-back">
            <span>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
            natoque penatibus et magnis dis parturient montes,
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
            natoque.
            </span>
            </div>

            </div>
            </div>
            <!--team-5-->

            <!--team-6-->
            <div class="col-lg-4">
            <div class="our-team-main">

            <div class="team-front">
            <img src="http://placehold.it/110x110/2196f3/fff?text=Dilip" class="img-fluid" />
            <h3>Dilip Kevat</h3>
            <p>Web Designer</p>
            </div>

            <div class="team-back">
            <span>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
            natoque penatibus et magnis dis parturient montes,
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
            natoque.
            </span>
            </div>

            </div>
            </div>
            <!--team-6-->



            </div>
            </div>
        </section>

        <section class="my-5">
            <div class="container">
                <div class="row">
                <div class="col-md-8 mx-auto">
                    <h4>Resources </h4>
                    <hr>
                    <div class="row">

                            <div class="col-md-4">
                                <div class="card-box">
                                    <div class="card-title">
                                        <h2>News</h2>
                                        <p>General
                                                Information and
                                                News about Big
                                                data and data
                                                analytics around
                                                the world. </p>
                                    </div>
                                    <div class="card-link">
                                        <a href="" class="c-link">Learn More
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card-box">
                                    <div class="card-title">
                                        <h2>Blog</h2>
                                        <p>Our Team
                                                Member Writing
                                                technical
                                                Content
                                                </p>
                                    </div>
                                    <div class="card-link">
                                        <a href="" class="c-link">Learn More
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card-box">
                                    <div class="card-title">
                                        <h2>Case Studies</h2>
                                        <p>Our Technical
                                                work &
                                                Innovation </p>
                                    </div>
                                    <div class="card-link">
                                        <a href="" class="c-link">Learn More
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                </div>
                </div>
            </div>
        </section>


<div class=" register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                <h3>Contact US</h3>
                Techieventures.in<br>
                        NO. 32, Akoobnagar, 17th Main, 1st Cross,<br>
                        BTM 1st Stage, BTM Layout, <br>
                        Bangalore 560029<br>
                        Contact No.:  080 49701248,080 41696789 , 8884426633, 8904740434.
                <input type="submit" name="" value="Login"/><br/>
            </div>
            <div class="col-md-9 register-right">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Classes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Demo</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Apply for the Classes</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control"  placeholder="Confirm Password *" value="" />
                                </div>
                                <div class="form-group">
                                    <div class="maxl">
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="male" checked>
                                            <span> Male </span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="female">
                                            <span>Female </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your Phone *" value="" />
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option class="hidden"  selected disabled>Please select your Sequrity Question</option>
                                        <option>What is your Birthdate?</option>
                                        <option>What is Your old Phone Number</option>
                                        <option>What is your Pet Name?</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Your Answer *" value="" />
                                </div>
                                <input type="submit" class="btnRegister"  value="Register"/>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <h3  class="register-heading">Apply for course Demo</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="Phone *" value="" />
                                </div>


                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option class="hidden"  selected disabled>Please select your Sequrity Question</option>
                                        <option>What is your Birthdate?</option>
                                        <option>What is Your old Phone Number</option>
                                        <option>What is your Pet Name?</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="`Answer *" value="" />
                                </div>
                                <input type="submit" class="btnRegister"  value="Register"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="d-flex justify-content-center t_padding t_bottom_footerr mb-3">
        <div class="p-2 ">@Copyright2018</div>
    </div>
</body>
</html>
